/**
 * 全局样式
 */
@import "./icon.less";

body {
  background-color: #f5f7f9;
}

.app-nav-bar {
  background-color: #3296fa;
  .van-nav-bar__title {
    color: #fff;
  }
  .van-icon {
    color: #fff;
  }
}
